@charset "UTF-8";
body {
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", cursive;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)), url(../img/background.jpg);
  background-size: cover;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: rgba(29, 26, 8, 0.7);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: #F1D302;
  border-radius: 100vw;
}

:root {
  --dynamic-visibility: unset;
  --1: unset;
  --2: unset;
  --3: unset;
  --4: unset;
  --5: unset;
  --6: unset;
  --7: unset;
  --8: unset;
  --9: unset;
  --10: unset;
  --11: unset;
  --dynamic-color: black;
  --11: black;
  --22: black;
  --33: black;
  --44: black;
  --55: black;
  --66: black;
  --77: black;
  --88: black;
  --99: black;
  --1010: black;
  --1111: black;
}

.wrapper {
  height: 100%;
}

::placeholder {
  font-family: "Bebas Neue", cursive;
}

input[type=text], input[type=email] {
  font-family: fantasy;
}

#notif {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;
  top: 2rem;
  animation: moove 1s linear 1;
}
@keyframes moove {
  0% {
    top: 0.1rem;
  }
  50% {
    top: 1rem;
  }
  100% {
    top: 2rem;
  }
}
#notif .errormsg {
  font-size: 1.2rem;
  background-color: rgb(255, 0, 0);
  border-radius: 100vw;
  padding: 2rem;
  z-index: 2;
  border-right: 0.4rem solid rgb(156, 12, 12);
  border-bottom: 0.4rem solid rgb(156, 12, 12);
}
#notif .successmsg {
  font-size: 1.2rem;
  background-color: rgb(0, 255, 30);
  border-radius: 100vw;
  padding: 2rem;
  z-index: 2;
  border-right: 0.4rem solid rgb(14, 158, 21);
  border-bottom: 0.4rem solid rgb(14, 158, 21);
}

.hcontainer {
  position: absolute;
  padding: 2rem 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hcontainer .fitem {
  padding: 0 0 0 4rem;
}
.hcontainer .sitem {
  padding: 0 4rem 0 0;
}
.hcontainer .logo {
  height: 4rem;
}

.btn-sub {
  font-size: 1em;
  font-family: "Bebas Neue", cursive;
  height: fit-content;
  text-decoration: none;
  color: #000000;
  background-color: #F1D302;
  padding: 0.3rem 1em;
  border-radius: 50vw;
  border: 2px solid #F1D302;
}
.btn-sub:hover {
  background-color: rgba(241, 211, 2, 0);
  color: #F1D302;
}

.bcontainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.bcontainer .pitem {
  max-width: 30rem;
  color: #F1D302;
  align-self: center;
}
.bcontainer .pitem .title-text {
  font-size: 4rem;
}
.bcontainer .pitem .p-text {
  margin: 0 auto auto auto;
  font-size: 1.5rem;
}
.bcontainer .pitem .join {
  font-size: 2rem;
  padding: 1.5rem 0 0 0;
}
.bcontainer .litem {
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #F1D302;
}
.bcontainer .litem .spidermanbox {
  height: 8rem;
  position: relative;
  margin: 0 0 2rem 0;
  padding: 0 0 0 1rem;
  border-radius: 50vw;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)), url(../img/spidey.webp);
  background-position: center;
  background-size: cover;
  box-shadow: 5px 5px 0px #f1d302;
}
.bcontainer .litem .spidermanbox:before {
  font-family: FontAwesome;
  content: "\f004";
  font-size: 1.3rem;
  position: absolute;
  padding: 0.5rem 0 0 0;
  top: 0;
  right: 55px;
  width: 25px;
  height: 30px;
  text-align: center;
  background-color: #F1D302;
  color: #0f0f10;
  clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
}
.bcontainer .litem .womenbox {
  height: 8rem;
  position: relative;
  margin: 0 0 2rem 0;
  padding: 0 0 0 1rem;
  border-radius: 50vw;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)), url(../img/women.webp);
  background-position: center;
  background-size: cover;
  box-shadow: 5px 5px 0px #f1d302;
}
.bcontainer .litem .womenbox:before {
  font-family: FontAwesome;
  content: "\f06e";
  font-size: 1.3rem;
  position: absolute;
  padding: 0.5rem 0 0 0;
  top: 0;
  right: 55px;
  width: 25px;
  height: 30px;
  text-align: center;
  background-color: #F1D302;
  color: #0f0f10;
  clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
}
.bcontainer .litem .communitybox {
  height: 8rem;
  position: relative;
  padding: 0 0 0 1rem;
  border-radius: 50vw;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)), url(../img/community.webp);
  background-position: center;
  background-size: cover;
  box-shadow: 5px 5px 0px #f1d302;
}
.bcontainer .litem .communitybox:before {
  font-family: FontAwesome;
  content: "\f005";
  font-size: 1.3rem;
  position: absolute;
  padding: 0.5rem 0 0 0;
  top: 0;
  right: 55px;
  width: 25px;
  height: 30px;
  text-align: center;
  background-color: #F1D302;
  color: #0f0f10;
  clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
}
.bcontainer .litem .reasons {
  font-size: 3rem;
}

@media (max-width: 1200px) {
  .hcontainer {
    position: static;
    min-width: 100vw;
  }
  .hcontainer .fitem {
    padding: 0 0 0 2rem;
  }
  .hcontainer .sitem {
    padding: 0 2rem 0 0;
  }
  .bcontainer .join {
    display: flex;
    justify-content: center;
  }
  .bcontainer .litem {
    max-width: 85%;
    padding: 2rem 0;
  }
  .bcontainer .pitem {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .bcontainer .pitem .title-text {
    font-size: 3.5rem;
    text-align: center;
  }
  .bcontainer .pitem .p-text {
    text-align: center;
  }
}
/* Page d'inscription & Page de connexion */
.ocontainer {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ocontainer .bg-form {
  height: 75%;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.ocontainer .bg-form .login-logo {
  height: 4rem;
}
.ocontainer .bg-form form {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
}
.ocontainer .bg-form form input {
  position: relative;
  color: #fff;
  font-size: 1rem;
}
.ocontainer .bg-form form input::placeholder {
  position: absolute;
  font-size: 1.2rem;
  top: 20%;
  color: rgba(241, 211, 2, 0.5);
}
.ocontainer .bg-form form #bfinput {
  position: relative;
}
.ocontainer .bg-form form #bfinput #finput {
  padding: 0.5rem 0 0.5rem 2.5rem !important;
  background: transparent;
  border: 1px solid rgb(241, 211, 2);
  border-radius: 50vw;
  padding: 0.5rem;
  width: 15rem;
}
.ocontainer .bg-form form #bfinput #finput:focus {
  outline: none;
}
.ocontainer .bg-form form #bfinput::after {
  position: absolute;
  font-family: FontAwesome;
  content: "\f2bd";
  color: #F1D302;
  font-size: 1.5rem;
  top: 0.45rem;
  left: 0.6rem;
}
.ocontainer .bg-form form #bsinput {
  position: relative;
}
.ocontainer .bg-form form #bsinput #sinput {
  padding: 0.5rem 0 0.5rem 2.5rem !important;
  background: transparent;
  border: 1px solid rgb(241, 211, 2);
  border-radius: 50vw;
  padding: 0.5rem;
  width: 15rem;
}
.ocontainer .bg-form form #bsinput #sinput:focus {
  outline: none;
}
.ocontainer .bg-form form #bsinput::after {
  position: absolute;
  font-family: FontAwesome;
  content: "@";
  color: #F1D302;
  font-size: 1.5rem;
  top: 0.45rem;
  left: 0.6rem;
}
.ocontainer .bg-form form #btinput {
  position: relative;
  pointer-events: auto;
}
.ocontainer .bg-form form #btinput #tinput {
  padding: 0.5rem 0 0.5rem 2.5rem !important;
  background: transparent;
  border: 1px solid rgb(241, 211, 2);
  border-radius: 50vw;
  padding: 0.5rem;
  width: 15rem;
}
.ocontainer .bg-form form #btinput #tinput:focus {
  outline: none;
}
.ocontainer .bg-form form #btinput::after {
  position: absolute;
  font-family: FontAwesome;
  content: "\f023";
  color: #F1D302;
  font-size: 1.5rem;
  top: 0.45rem;
  left: 0.6rem;
}
.ocontainer .bg-form form .remember {
  display: flex;
  color: #F1D302;
}
.ocontainer .bg-form form .remember .checkbox {
  gap: 1rem;
  display: inline-flex;
  cursor: pointer;
  position: relative;
}
.ocontainer .bg-form form .remember .checkbox span {
  align-self: center;
}
.ocontainer .bg-form form .remember .checkbox input {
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #F1D302;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: transparent;
  cursor: pointer;
}
.ocontainer .bg-form form .remember .checkbox input:checked {
  background-color: #F1D302;
}
.ocontainer .bg-form form .remember .checkbox > input:checked + span::before {
  content: "✓";
  display: block;
  text-align: center;
  color: #41B883;
  position: absolute;
  left: 0.7rem;
  top: 0.2rem;
}
.ocontainer .bg-form form .remember .checkbox > input:active {
  border: 2px solid #34495E;
}
.ocontainer .bg-form form .instruction {
  display: flex;
  justify-content: center;
  color: #F1D302;
  gap: 1rem;
}
.ocontainer .bg-form form .instruction .question {
  margin: 0;
  align-self: center;
  font-size: 1.3rem;
}
.ocontainer .bg-form form .instruction .btn-return-log {
  padding: 0 1rem;
}
.ocontainer .bg-form form .forgotpwd {
  width: 100%;
  display: flex;
  justify-content: center;
}
.ocontainer .bg-form form .forgotpwd .forgottxt {
  margin: 0;
  color: #F1D302;
  text-decoration: underline;
  font-style: italic;
}
.ocontainer .bg-form form .check {
  display: flex;
  justify-content: center;
}
.ocontainer .bg-form form .check .register-btn {
  font-size: 2rem !important;
  cursor: pointer;
  color: #000000;
  padding: 0 1.5rem;
}
.ocontainer .bg-form form .check .register-btn:hover {
  color: #F1D302;
}

@media (max-width: 430px) {
  .ocontainer .bg-form {
    width: fit-content;
    padding: 0 1.5rem;
  }
}
.forced_no_overflow {
  background: #0f0f10 !important;
  overflow-x: hidden !important;
}

.logout {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}
.logout a {
  text-decoration: none;
  color: #fff;
  background-color: rgb(255, 0, 0);
  padding: 1rem 2rem;
  border-radius: 100vw;
}
.logout a:hover {
  transform: scale(1.1);
}

#togglePassword {
  color: #F1D302;
  right: 0.6rem;
  top: 0.4rem;
  font-size: 1.5rem;
  position: absolute;
  z-index: 8;
  cursor: pointer;
}

#navbar {
  display: flex;
  justify-content: center;
  padding: 0;
  padding: 0 5rem;
  gap: 1.5rem;
}
#navbar .nav_list {
  list-style-type: none;
  align-self: center;
}
#navbar .nav_list .nav_link {
  text-decoration: none;
  color: #F1D302;
  font-size: 1.5rem;
  position: relative;
}
#navbar .nav_list .nav_link:hover {
  display: inline-block;
  position: relative;
}
#navbar .nav_list .nav_link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#navbar .nav_list .nav_link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 50%;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
#navbar #nav_logo {
  text-decoration: none;
  color: #F1D302;
  font-size: 1.5rem;
  font-weight: 200;
}
#navbar #logo {
  flex: 1;
  text-align: center;
  align-items: center;
}

#vertical_display {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 0 4rem;
  gap: 3rem;
}
#vertical_display #input_container {
  width: 100%;
  display: flex;
  justify-content: center;
}
#vertical_display #input_container:after {
  font-family: FontAwesome;
  content: "\f002";
  position: absolute;
  font-size: 1.3rem;
  padding: 0.4rem 13.5rem 0 0;
  color: #F1D302;
  clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
}
#vertical_display #input_container:before {
  font-family: FontAwesome;
  content: "\f0b0";
  position: absolute;
  font-size: 1.3rem;
  padding: 0.4rem 0 0 13.5rem;
  color: #F1D302;
  clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
}
#vertical_display #input_container #search_bar {
  width: 12rem;
  padding: 0 1.8rem;
  height: 1.6rem;
  z-index: 2000;
  font-family: Arial, Helvetica, sans-serif;
  background: transparent;
  color: white;
  border: 2px solid #F1D302;
  border-radius: 20px;
}
#vertical_display #input_container #search_bar:focus {
  outline: none;
}
#vertical_display #show {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  width: 90%;
  min-height: 70rem;
  margin: 0 !important;
}
#vertical_display #show #top_show {
  grid-area: 1/1/3/4;
  overflow: hidden;
  padding: 20rem 0 0 0;
  position: relative;
}
#vertical_display #show #top_show:after {
  font-family: FontAwesome;
  font-weight: 700;
  content: "\f091";
  position: absolute;
  font-size: 1.3rem;
  border-bottom-right-radius: 100vw;
  top: 0;
  background-color: #F1D302;
  padding: 1rem 1rem 1rem 0.5rem;
  box-shadow: 3px 3px 1px rgba(241, 211, 2, 0.5);
  left: 0;
  color: rgb(0, 0, 0);
}
#vertical_display #show #top_show:before {
  cursor: pointer;
  font-family: FontAwesome;
  visibility: var(--dynamic-visibility);
  content: "\f004";
  position: absolute;
  z-index: 1;
  font-size: 1.5rem;
  background-color: #F1D302;
  padding: 0.3rem 0.3rem;
  right: 2rem;
  bottom: var(--dynamic-top-bottom);
  color: var(--dynamic-color);
  clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
}
#vertical_display #show #top_show .top_showcard-content {
  background-color: rgba(0, 0, 0, 0.52);
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 1rem;
  padding: 3.5rem 0 0 1rem;
}
#vertical_display #show #top_show .top_showcard-content .stars {
  width: 100%;
  display: flex;
  font-size: 2rem;
  color: #F1D302;
  gap: 0.3rem;
}
#vertical_display #show #top_show .top_showcard-content .top_resume_btn {
  cursor: pointer;
  font-family: "Bebas Neue", cursive;
  width: fit-content;
  font-size: 2rem;
  padding: 0.3rem 0.8rem;
  background-color: #F1D302;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
#vertical_display #show #top_show .top_showcard-content .synopsis {
  display: none;
  max-height: 11rem;
  overflow: auto;
}
#vertical_display #show #top_show .top_showcard-content .buy_btn {
  display: none;
  color: #000000;
  text-decoration: none;
  background-color: #F1D302;
  padding: 0.5rem 1rem;
  border: solid 1px #000000;
  font-size: 1.5rem;
  position: absolute;
  bottom: 6rem;
  left: 4.5rem;
}
#vertical_display #show #top_show .top_showcard-content .showcard-title {
  position: absolute;
  top: 0;
  color: #F1D302;
  font-size: 3vw;
  margin: 0;
  width: 70%;
}
#vertical_display #show #show_1 {
  grid-area: 1/4/2/6;
  position: relative;
  background-color: white;
  overflow: hidden;
  padding: 8rem 0 0 0;
  position: relative;
}
#vertical_display #show #show_1:before {
  cursor: pointer;
  font-family: FontAwesome;
  visibility: var(--1);
  content: "\f004";
  position: absolute;
  z-index: 1;
  font-size: 1rem;
  background-color: #F1D302;
  padding: 0.3rem 0.3rem;
  right: 0.8rem;
  color: var(--11);
  clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
}
#vertical_display #show #show_2 {
  grid-area: 1/6/2/8;
  position: relative;
  background-color: white;
  overflow: hidden;
  padding: 8rem 0 0 0;
  position: relative;
}
#vertical_display #show #show_2:before {
  cursor: pointer;
  font-family: FontAwesome;
  visibility: var(--2);
  content: "\f004";
  position: absolute;
  z-index: 1;
  font-size: 1rem;
  background-color: #F1D302;
  padding: 0.3rem 0.3rem;
  right: 0.8rem;
  color: var(--22);
  clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
}
#vertical_display #show #show_3 {
  grid-area: 1/8/2/10;
  position: relative;
  background-color: white;
  overflow: hidden;
  padding: 8rem 0 0 0;
  position: relative;
}
#vertical_display #show #show_3:before {
  cursor: pointer;
  font-family: FontAwesome;
  visibility: var(--3);
  content: "\f004";
  position: absolute;
  z-index: 1;
  font-size: 1rem;
  background-color: #F1D302;
  padding: 0.3rem 0.3rem;
  right: 0.8rem;
  color: var(--33);
  clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
}
#vertical_display #show #show_4 {
  grid-area: 2/4/3/6;
  position: relative;
  background-color: white;
  overflow: hidden;
  padding: 8rem 0 0 0;
  position: relative;
}
#vertical_display #show #show_4:before {
  cursor: pointer;
  font-family: FontAwesome;
  visibility: var(--4);
  content: "\f004";
  position: absolute;
  z-index: 1;
  font-size: 1rem;
  background-color: #F1D302;
  padding: 0.3rem 0.3rem;
  right: 0.8rem;
  color: var(--44);
  clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
}
#vertical_display #show #show_5 {
  grid-area: 2/6/3/8;
  position: relative;
  background-color: white;
  overflow: hidden;
  padding: 8rem 0 0 0;
  position: relative;
}
#vertical_display #show #show_5:before {
  cursor: pointer;
  font-family: FontAwesome;
  visibility: var(--5);
  content: "\f004";
  position: absolute;
  z-index: 1;
  font-size: 1rem;
  background-color: #F1D302;
  padding: 0.3rem 0.3rem;
  right: 0.8rem;
  color: var(--55);
  clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
}
#vertical_display #show #show_6 {
  grid-area: 2/8/3/10;
  position: relative;
  background-color: white;
  overflow: hidden;
  padding: 8rem 0 0 0;
  position: relative;
}
#vertical_display #show #show_6:before {
  cursor: pointer;
  font-family: FontAwesome;
  visibility: var(--6);
  content: "\f004";
  position: absolute;
  z-index: 1;
  font-size: 1rem;
  background-color: #F1D302;
  padding: 0.3rem 0.3rem;
  right: 0.8rem;
  color: var(--66);
  clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
}
#vertical_display #show #show_7 {
  grid-area: 3/1/3/4;
  position: relative;
  background-color: white;
  overflow: hidden;
  padding: 8rem 0 0 0;
  position: relative;
}
#vertical_display #show #show_7:before {
  cursor: pointer;
  font-family: FontAwesome;
  visibility: var(--7);
  content: "\f004";
  position: absolute;
  z-index: 1;
  font-size: 1rem;
  background-color: #F1D302;
  padding: 0.3rem 0.3rem;
  right: 0.8rem;
  color: var(--77);
  clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
}
#vertical_display #show #show_8 {
  grid-area: 3/4/4/7;
  position: relative;
  background-color: white;
  overflow: hidden;
  padding: 8rem 0 0 0;
  position: relative;
}
#vertical_display #show #show_8:before {
  cursor: pointer;
  font-family: FontAwesome;
  visibility: var(--8);
  content: "\f004";
  position: absolute;
  z-index: 1;
  font-size: 1rem;
  background-color: #F1D302;
  padding: 0.3rem 0.3rem;
  right: 0.8rem;
  color: var(--88);
  clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
}
#vertical_display #show #show_9 {
  grid-area: 3/7/4/10;
  position: relative;
  background-color: white;
  overflow: hidden;
  padding: 8rem 0 0 0;
  position: relative;
}
#vertical_display #show #show_9:before {
  cursor: pointer;
  font-family: FontAwesome;
  visibility: var(--9);
  content: "\f004";
  position: absolute;
  z-index: 1;
  font-size: 1rem;
  background-color: #F1D302;
  padding: 0.3rem 0.3rem;
  right: 0.8rem;
  color: var(--99);
  clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
}
#vertical_display #show #show_10 {
  grid-area: 4/1/5/4;
  position: relative;
  background-color: white;
  overflow: hidden;
  padding: 8rem 0 0 0;
  position: relative;
}
#vertical_display #show #show_10:before {
  cursor: pointer;
  font-family: FontAwesome;
  visibility: var(--10);
  content: "\f004";
  position: absolute;
  z-index: 1;
  font-size: 1rem;
  background-color: #F1D302;
  padding: 0.3rem 0.3rem;
  right: 0.8rem;
  color: var(--1010);
  clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
}
#vertical_display #show #show_11 {
  grid-area: 4/4/5/7;
  position: relative;
  background-color: white;
  overflow: hidden;
  padding: 8rem 0 0 0;
  position: relative;
}
#vertical_display #show #show_11:before {
  cursor: pointer;
  font-family: FontAwesome;
  visibility: var(--11);
  content: "\f004";
  position: absolute;
  z-index: 1;
  font-size: 1rem;
  background-color: #F1D302;
  padding: 0.3rem 0.3rem;
  right: 0.8rem;
  color: var(--1111);
  clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
}
@media (max-width: 1230px) {
  #vertical_display #show {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(7, 1fr);
    padding: 0 0 3rem 5rem;
    min-height: auto;
  }
  #vertical_display #show #top_show {
    grid-area: 1/1/3/7;
    padding: 8.5rem 0 0 0;
  }
  #vertical_display #show #top_show:before {
    cursor: pointer;
    font-family: FontAwesome;
    visibility: var(--dynamic-visibility);
    content: "\f004";
    position: absolute;
    z-index: 1;
    font-size: 1.5rem;
    background-color: #F1D302;
    padding: 0.3rem 0.3rem;
    right: 2rem;
    bottom: var(--dynamic-top-bottom);
    color: var(--dynamic-color);
    clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
  }
  #vertical_display #show #top_show .top_showcard-content {
    background-color: rgba(0, 0, 0, 0.52);
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1rem;
    padding: 3.5rem 0 1rem 1rem;
  }
  #vertical_display #show #top_show .top_showcard-content .stars {
    width: 100%;
    display: flex;
    font-size: 2rem;
    color: #F1D302;
    gap: 0.3rem;
  }
  #vertical_display #show #top_show .top_showcard-content .top_resume_btn {
    cursor: pointer;
    font-family: "Bebas Neue", cursive;
    width: fit-content;
    font-size: 2rem;
    padding: 0.3rem 0.8rem;
    background-color: #F1D302;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  #vertical_display #show #top_show .top_showcard-content .showcard-title {
    position: absolute;
    top: 0;
    color: #F1D302;
    font-size: 2.5rem;
    margin: 0;
    width: 70%;
  }
  #vertical_display #show #show_1 {
    grid-area: 3/1/4/4;
    position: relative;
    background-color: white;
    overflow: hidden;
    padding: 8rem 0 0 0;
    position: relative;
  }
  #vertical_display #show #show_1:before {
    cursor: pointer;
    font-family: FontAwesome;
    visibility: var(--1);
    content: "\f004";
    position: absolute;
    z-index: 1;
    font-size: 1rem;
    background-color: #F1D302;
    padding: 0.3rem 0.3rem;
    right: 1rem;
    color: var(--11);
    clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
  }
  #vertical_display #show #show_1:before {
    top: 9rem;
  }
  #vertical_display #show #show_1 .showcard-content {
    background-color: rgba(0, 0, 0, 0.52);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    padding: 2rem 0 0 1rem;
    margin: 1rem 0;
  }
  #vertical_display #show #show_1 .showcard-content .stars {
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    color: #F1D302;
    gap: 0.1rem;
  }
  #vertical_display #show #show_1 .showcard-content .resume_btn {
    cursor: pointer;
    font-family: "Bebas Neue", cursive;
    width: fit-content;
    font-size: 1rem;
    padding: 0.1rem 0.2rem;
    background-color: #F1D302;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  #vertical_display #show #show_1 .showcard-content .showcard-title {
    position: absolute;
    top: 0;
    color: #F1D302;
    font-size: 1.6rem;
    margin: 0;
    width: 70%;
  }
  #vertical_display #show #show_2 {
    grid-area: 3/4/4/7;
    position: relative;
    background-color: white;
    overflow: hidden;
    padding: 8rem 0 0 0;
    position: relative;
  }
  #vertical_display #show #show_2:before {
    cursor: pointer;
    font-family: FontAwesome;
    visibility: var(--2);
    content: "\f004";
    position: absolute;
    z-index: 1;
    font-size: 1rem;
    background-color: #F1D302;
    padding: 0.3rem 0.3rem;
    right: 1rem;
    color: var(--22);
    clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
  }
  #vertical_display #show #show_2:before {
    top: 9rem;
  }
  #vertical_display #show #show_2 .showcard-content {
    background-color: rgba(0, 0, 0, 0.52);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    padding: 2rem 0 0 1rem;
    margin: 1rem 0;
  }
  #vertical_display #show #show_2 .showcard-content .stars {
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    color: #F1D302;
    gap: 0.1rem;
  }
  #vertical_display #show #show_2 .showcard-content .resume_btn {
    cursor: pointer;
    font-family: "Bebas Neue", cursive;
    width: fit-content;
    font-size: 1rem;
    padding: 0.1rem 0.2rem;
    background-color: #F1D302;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  #vertical_display #show #show_2 .showcard-content .showcard-title {
    position: absolute;
    top: 0;
    color: #F1D302;
    font-size: 1.6rem;
    margin: 0;
    width: 70%;
  }
  #vertical_display #show #show_3 {
    grid-area: 4/1/5/4;
  }
  #vertical_display #show #show_3:before {
    cursor: pointer;
    font-family: FontAwesome;
    visibility: var(--3);
    content: "\f004";
    position: absolute;
    z-index: 1;
    font-size: 1rem;
    background-color: #F1D302;
    padding: 0.3rem 0.3rem;
    right: 1rem;
    color: var(--33);
    clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
  }
  #vertical_display #show #show_3:before {
    top: 9rem;
  }
  #vertical_display #show #show_3 .showcard-content {
    background-color: rgba(0, 0, 0, 0.52);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    padding: 2rem 0 0 1rem;
    margin: 1rem 0;
  }
  #vertical_display #show #show_3 .showcard-content .stars {
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    color: #F1D302;
    gap: 0.1rem;
  }
  #vertical_display #show #show_3 .showcard-content .resume_btn {
    cursor: pointer;
    font-family: "Bebas Neue", cursive;
    width: fit-content;
    font-size: 1rem;
    padding: 0.1rem 0.2rem;
    background-color: #F1D302;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  #vertical_display #show #show_3 .showcard-content .showcard-title {
    position: absolute;
    top: 0;
    color: #F1D302;
    font-size: 1.6rem;
    margin: 0;
    width: 70%;
  }
  #vertical_display #show #show_4 {
    grid-area: 4/4/5/7;
  }
  #vertical_display #show #show_4:before {
    cursor: pointer;
    font-family: FontAwesome;
    visibility: var(--4);
    content: "\f004";
    position: absolute;
    z-index: 1;
    font-size: 1rem;
    background-color: #F1D302;
    padding: 0.3rem 0.3rem;
    right: 1rem;
    color: var(--44);
    clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
  }
  #vertical_display #show #show_4:before {
    top: 9rem;
  }
  #vertical_display #show #show_4 .showcard-content {
    background-color: rgba(0, 0, 0, 0.52);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    padding: 2rem 0 0 1rem;
    margin: 1rem 0;
  }
  #vertical_display #show #show_4 .showcard-content .stars {
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    color: #F1D302;
    gap: 0.1rem;
  }
  #vertical_display #show #show_4 .showcard-content .resume_btn {
    cursor: pointer;
    font-family: "Bebas Neue", cursive;
    width: fit-content;
    font-size: 1rem;
    padding: 0.1rem 0.2rem;
    background-color: #F1D302;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  #vertical_display #show #show_4 .showcard-content .showcard-title {
    position: absolute;
    top: 0;
    color: #F1D302;
    font-size: 1.6rem;
    margin: 0;
    width: 70%;
  }
  #vertical_display #show #show_5 {
    grid-area: 6/1/7/4;
  }
  #vertical_display #show #show_5:before {
    cursor: pointer;
    font-family: FontAwesome;
    visibility: var(--5);
    content: "\f004";
    position: absolute;
    z-index: 1;
    font-size: 1rem;
    background-color: #F1D302;
    padding: 0.3rem 0.3rem;
    right: 1rem;
    color: var(--55);
    clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
  }
  #vertical_display #show #show_5:before {
    top: 9rem;
  }
  #vertical_display #show #show_5 .showcard-content {
    background-color: rgba(0, 0, 0, 0.52);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    padding: 2rem 0 0 1rem;
    margin: 1rem 0;
  }
  #vertical_display #show #show_5 .showcard-content .stars {
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    color: #F1D302;
    gap: 0.1rem;
  }
  #vertical_display #show #show_5 .showcard-content .resume_btn {
    cursor: pointer;
    font-family: "Bebas Neue", cursive;
    width: fit-content;
    font-size: 1rem;
    padding: 0.1rem 0.2rem;
    background-color: #F1D302;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  #vertical_display #show #show_5 .showcard-content .showcard-title {
    position: absolute;
    top: 0;
    color: #F1D302;
    font-size: 1.6rem;
    margin: 0;
    width: 70%;
  }
  #vertical_display #show #show_6 {
    grid-area: 6/4/7/7;
  }
  #vertical_display #show #show_6:before {
    cursor: pointer;
    font-family: FontAwesome;
    visibility: var(--6);
    content: "\f004";
    position: absolute;
    z-index: 1;
    font-size: 1rem;
    background-color: #F1D302;
    padding: 0.3rem 0.3rem;
    right: 1rem;
    color: var(--66);
    clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
  }
  #vertical_display #show #show_6:before {
    top: 9rem;
  }
  #vertical_display #show #show_6 .showcard-content {
    background-color: rgba(0, 0, 0, 0.52);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    padding: 2rem 0 0 1rem;
    margin: 1rem 0;
  }
  #vertical_display #show #show_6 .showcard-content .stars {
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    color: #F1D302;
    gap: 0.1rem;
  }
  #vertical_display #show #show_6 .showcard-content .resume_btn {
    cursor: pointer;
    font-family: "Bebas Neue", cursive;
    width: fit-content;
    font-size: 1rem;
    padding: 0.1rem 0.2rem;
    background-color: #F1D302;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  #vertical_display #show #show_6 .showcard-content .showcard-title {
    position: absolute;
    top: 0;
    color: #F1D302;
    font-size: 1.6rem;
    margin: 0;
    width: 70%;
  }
  #vertical_display #show #show_7 {
    grid-area: 7/1/8/4;
  }
  #vertical_display #show #show_7:before {
    cursor: pointer;
    font-family: FontAwesome;
    visibility: var(--7);
    content: "\f004";
    position: absolute;
    z-index: 1;
    font-size: 1rem;
    background-color: #F1D302;
    padding: 0.3rem 0.3rem;
    right: 1rem;
    color: var(--77);
    clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
  }
  #vertical_display #show #show_7:before {
    top: 9rem;
  }
  #vertical_display #show #show_7 .showcard-content {
    background-color: rgba(0, 0, 0, 0.52);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    padding: 2rem 0 0 1rem;
    margin: 1rem 0;
  }
  #vertical_display #show #show_7 .showcard-content .stars {
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    color: #F1D302;
    gap: 0.1rem;
  }
  #vertical_display #show #show_7 .showcard-content .resume_btn {
    cursor: pointer;
    font-family: "Bebas Neue", cursive;
    width: fit-content;
    font-size: 1rem;
    padding: 0.1rem 0.2rem;
    background-color: #F1D302;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  #vertical_display #show #show_7 .showcard-content .showcard-title {
    position: absolute;
    top: 0;
    color: #F1D302;
    font-size: 1.6rem;
    margin: 0;
    width: 70%;
  }
  #vertical_display #show #show_8 {
    grid-area: 7/4/8/7;
  }
  #vertical_display #show #show_8:before {
    cursor: pointer;
    font-family: FontAwesome;
    visibility: var(--8);
    content: "\f004";
    position: absolute;
    z-index: 1;
    font-size: 1rem;
    background-color: #F1D302;
    padding: 0.3rem 0.3rem;
    right: 1rem;
    color: var(--88);
    clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
  }
  #vertical_display #show #show_8:before {
    top: 9rem;
  }
  #vertical_display #show #show_8 .showcard-content {
    background-color: rgba(0, 0, 0, 0.52);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    padding: 2rem 0 0 1rem;
    margin: 1rem 0;
  }
  #vertical_display #show #show_8 .showcard-content .stars {
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    color: #F1D302;
    gap: 0.1rem;
  }
  #vertical_display #show #show_8 .showcard-content .resume_btn {
    cursor: pointer;
    font-family: "Bebas Neue", cursive;
    width: fit-content;
    font-size: 1rem;
    padding: 0.1rem 0.2rem;
    background-color: #F1D302;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  #vertical_display #show #show_8 .showcard-content .showcard-title {
    position: absolute;
    top: 0;
    color: #F1D302;
    font-size: 1.6rem;
    margin: 0;
    width: 70%;
  }
  #vertical_display #show #show_9 {
    grid-area: 8/1/9/4;
  }
  #vertical_display #show #show_9:before {
    cursor: pointer;
    font-family: FontAwesome;
    visibility: var(--9);
    content: "\f004";
    position: absolute;
    z-index: 1;
    font-size: 1rem;
    background-color: #F1D302;
    padding: 0.3rem 0.3rem;
    right: 1rem;
    color: var(--99);
    clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
  }
  #vertical_display #show #show_9:before {
    top: 9rem;
  }
  #vertical_display #show #show_9 .showcard-content {
    background-color: rgba(0, 0, 0, 0.52);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    padding: 2rem 0 0 1rem;
    margin: 1rem 0;
  }
  #vertical_display #show #show_9 .showcard-content .stars {
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    color: #F1D302;
    gap: 0.1rem;
  }
  #vertical_display #show #show_9 .showcard-content .resume_btn {
    cursor: pointer;
    font-family: "Bebas Neue", cursive;
    width: fit-content;
    font-size: 1rem;
    padding: 0.1rem 0.2rem;
    background-color: #F1D302;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  #vertical_display #show #show_9 .showcard-content .showcard-title {
    position: absolute;
    top: 0;
    color: #F1D302;
    font-size: 1.6rem;
    margin: 0;
    width: 70%;
  }
  #vertical_display #show #show_10 {
    grid-area: 8/4/9/7;
  }
  #vertical_display #show #show_10:before {
    cursor: pointer;
    font-family: FontAwesome;
    visibility: var(--10);
    content: "\f004";
    position: absolute;
    z-index: 1;
    font-size: 1rem;
    background-color: #F1D302;
    padding: 0.3rem 0.3rem;
    right: 1rem;
    color: var(--1010);
    clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
  }
  #vertical_display #show #show_10:before {
    top: 9rem;
  }
  #vertical_display #show #show_10 .showcard-content {
    background-color: rgba(0, 0, 0, 0.52);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    padding: 2rem 0 0 1rem;
    margin: 1rem 0;
  }
  #vertical_display #show #show_10 .showcard-content .stars {
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    color: #F1D302;
    gap: 0.1rem;
  }
  #vertical_display #show #show_10 .showcard-content .resume_btn {
    cursor: pointer;
    font-family: "Bebas Neue", cursive;
    width: fit-content;
    font-size: 1rem;
    padding: 0.1rem 0.2rem;
    background-color: #F1D302;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  #vertical_display #show #show_10 .showcard-content .showcard-title {
    position: absolute;
    top: 0;
    color: #F1D302;
    font-size: 1.6rem;
    margin: 0;
    width: 70%;
  }
  #vertical_display #show #show_11 {
    grid-area: 9/1/10/4;
  }
  #vertical_display #show #show_11:before {
    cursor: pointer;
    font-family: FontAwesome;
    visibility: var(--11);
    content: "\f004";
    position: absolute;
    z-index: 1;
    font-size: 1rem;
    background-color: #F1D302;
    padding: 0.3rem 0.3rem;
    right: 1rem;
    color: var(--1111);
    clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 10%, 100% 85%, 50% 100%, 50% 100%, 0% 85%, 0% 10%);
  }
  #vertical_display #show #show_11:before {
    top: 9rem;
  }
  #vertical_display #show #show_11 .showcard-content {
    background-color: rgba(0, 0, 0, 0.52);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    padding: 2rem 0 0 1rem;
    margin: 1rem 0;
  }
  #vertical_display #show #show_11 .showcard-content .stars {
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    color: #F1D302;
    gap: 0.1rem;
  }
  #vertical_display #show #show_11 .showcard-content .resume_btn {
    cursor: pointer;
    font-family: "Bebas Neue", cursive;
    width: fit-content;
    font-size: 1rem;
    padding: 0.1rem 0.2rem;
    background-color: #F1D302;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  #vertical_display #show #show_11 .showcard-content .showcard-title {
    position: absolute;
    top: 0;
    color: #F1D302;
    font-size: 1.6rem;
    margin: 0;
    width: 70%;
  }
  #vertical_display #show .showcard-content .showcard-title {
    width: 60%;
  }
  #vertical_display #show .showcard-content .buy_btn {
    bottom: 4rem;
    left: 10rem;
    font-size: 1.5vw;
  }
  #vertical_display #show .showcard-content .synopsis {
    font-size: 1.5vw;
    top: 3rem;
  }
}
#vertical_display .showcard-content {
  background-color: rgba(0, 0, 0, 0.65);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  padding: 2rem 0 0 1rem;
}
#vertical_display .showcard-content .stars {
  width: 100%;
  display: flex;
  font-size: 1.5rem;
  color: #F1D302;
  gap: 0.1rem;
}
#vertical_display .showcard-content .resume_btn {
  cursor: pointer;
  font-family: "Bebas Neue", cursive !important;
  width: fit-content;
  font-size: 1rem;
  padding: 0.1rem 0.2rem;
  font-family: Beb;
  background-color: #F1D302;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
#vertical_display .showcard-content .showcard-title {
  position: absolute;
  top: 0;
  color: #F1D302;
  font-size: 1.6rem;
  margin: 0;
  width: 70%;
}
#vertical_display .showcard-content .synopsis {
  display: none;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  color: #F1D302;
  font-size: 1vw;
  height: 6rem;
  position: absolute;
  top: 3.5rem;
}
#vertical_display .showcard-content .buy_btn {
  display: none;
  color: #000000;
  text-decoration: none;
  background-color: #F1D302;
  padding: 0.1rem 0.3rem;
  border: solid 1px #000000;
  font-size: 1.05vw;
  position: absolute;
  bottom: 2.7rem;
  left: 4.6rem;
}

footer {
  height: 5rem;
  z-index: 900;
  display: flex;
  justify-content: center;
  color: #F1D302;
  font-size: 1.2vw;
}

/*# sourceMappingURL=index.css.map */
